$gray1: #cdcdcd;
$gray2: #7d7d7d;
$gray3: #505050;
$gray4: #343638;
$thinGray: rgba(#e3ecf0, 1);
$transparent: rgba(48, 48, 48, 0.83);


$themeBlue: #55a6d5;
$themeBlueHover: #3480ac;

$submit: #229620;
$submitHover: #176a16;

$red: rgb(196, 52, 52);
